
<div class="my-notes">
  <h1 id="notes-heading">my notes</h1>
  <p id="why-not">
    Add a note on this word, such as then context in which you first heard it.
  </p>
</div>
  <form id="my-notes" ng-submit="word.submit()">
    <textarea id="notes-input" ng-model="word.comment.body" type="text" name="message" placeholder="Add a note..."></textarea>
    <input id="notes-button" class="btn btn-default" type="submit" value="Submit">
  </form>



<!-- <button class="btn btn-default" ui-sref="wordsShow({ id: word.word.id })">Done</button> -->
