


<div id="show-left" class="col-md-6">

  <h1>{{ word.wordApi.headword }}</h1>


  <ul id="api-part-one">
    <li id="part-of-speach"><i>{{ word.wordApi.part_of_speech }}</i></li>
    <li id="hyphenation">hyphenation: {{ word.wordApi.hyphenation }}</li>
  </ul>
  <ul id="api-part-two" ng-repeat="word in word.wordApi.senses|limitTo:3">
    <h5>Definition:</h5>
    <p>{{ word.definition }}</p>
    <li id="examples" ng-repeat="example in word.examples|limitTo:1">
      <h5>Example:</h5>
      <p>"{{ example.text }}"</p>
    </li>
  </ul>
</div>

<div class="col-md-6">
  <h1 id="notes-head">my notes:</h1>
    <button id="add-note" class="btn btn-link" ui-sref="wordsEdit({id: word.wordApi.did})">add Note...</button>
  <ul>
    <li ng-repeat="comment in word.word.comments">
      <ul>
        <li><i><h2 id="note">{{ comment.body }}</h2></i></li>
      </ul>
    </li>
  </ul>
</div>
