


<div class="col-md-6">

  <h1>{{ word.wordApi.headword }}</h1>


  <ul id="api-part-one">
    <li>{{ word.wordApi.part_of_speech }}</li>
    <li>hyphenation: {{ word.wordApi.hyphenation }}</li>
  </ul>
  <ul id="api-part-two" ng-repeat="word in word.wordApi.senses|limitTo:3">
    <h5>Definition:</h5>
    <p>{{ word.definition }}</p>
    <li id="examples" ng-repeat="example in word.examples|limitTo:1">
      <h5>Example:</h5>
      <p>"{{ example.text }}"</p>
    </li>
  </ul>

  <div class="add-note-delete">
    <button id="delete" class="btn btn-default" ng-click="word.delete()">Delete</button>
  </div>

</div>

<div class="col-md-6">
  <h1>My Notes</h1>
  <ul>
    <li ng-repeat="comment in word.word.comments">
      <ul>
        <li>{{ comment.body }}</li>
      </ul>
    </li>
  </ul>
      <button id="add-note" class="btn btn-default" ui-sref="wordsEdit({id: word.wordApi.did})">Add Note</button>
</div>
