<h1>{{ word.word.headword }}</h1>

</section>

<section>
  <ul>
    <li>{{ word.word.part_of_speech }}</li>
    <li>hyphenation: {{ word.word.hyphenation }}</li>
  </ul>
<ul ng-repeat="word in word.word.senses|limitTo:3">
    <h4>Definition</h4>
    <p>{{ word.definition }}</p>
    <li ng-repeat="example in word.examples|limitTo:1">
      <h4>Examples</h4>
      <p>"{{ example.text }}"</p>
    </li>
  </ul>
</section>


<button class="btn btn-danger" ng-click="word.delete()">Delete</button>
<button class="btn btn-default" ui-sref="wordsEdit({id: word.word.id})">Edit</button>
