<h1>{{ word.word.headword }}</h1>



<!-- <section ng-repeat="word in word">
<ul ng-repeat="(key, value) in word">
<li>{{ key}}: {{ value }} </li>
</ul>
</section> -->

<section>
  <ul>


    <li ng-repeat="word in word.word.senses">
      <h4>Definition</h4>
      <p>{{ word.definition }}</p>

      <h4>Examples</h4>
      <ul>
        <li ng-repeat="example in word.examples">
          {{ example.text }}
        </li>
      </ul>
    </li>

  </ul>
  <!-- {{ word.word.senses }} -->

  <!-- <ul>
  <li ng-repeat="word in word.word">
  {{ word }}
</li>
</ul> -->
<!-- <ul>
<li>{{ word.part_of_speech }}</li>
<li>{{ word.hyphenation }}</li>
<li>{{ word.pronunciations }}</li>
</ul> -->

<!-- <ul ng-repeat="(key, value) in word.senses">
<li >
{{ value.definition }}
</li>
</ul> -->

<!-- <ul>
<li ng-repeat="example in word.senses.examples">{{ example.text }}</li>
</ul> -->


</section>


<button class="btn btn-danger" ng-click="word.delete()">Delete</button>
<button class="btn btn-default" ui-sref="wordsEdit({id: word.word.id})">Edit</button>
