$div-color: #333232;

.api-info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


.form-control {
  max-width: 50%;
}

#words-index {
  max-height: 485px;
  max-width: 60%;
  overflow: scroll;
  margin: 0 auto;
  background-color: rgba(0,0,0,.5);
  margin-top: -15px;
  margin-bottom: 20px;
}

#add-word {
  max-width: 60%;
  background-color: rgba(230,220,200,.7);
  border: none;
  text-align: center;
  // color: black;
}

#my-words {
  h1 {
    line-height: 80px;
    margin-bottom: 0;
    font-weight: bolder;
  }
  max-width: 60%;
  background-color: rgba(0,0,0,.5);
  margin: 0 auto;
}
