#show-left {
  h1 {
    font-size: 4.5em;
    text-transform: capitalize;
  }
  h5 {
    font-size: 2.5em;
  }
}

#part-of-speach, #hyphenation {
  font-size: 2em;
}

#hyphenation {
  margin-bottom: 50px;
}


#delete {
  margin: 2%;
  height: 40px;
  width: 90px;
}

#api-part-one {
  padding-top: 2%;
  padding-bottom: 2%;
  li {
    padding: 2%;
  }
}

#api-part-two {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  p, h4 {
    padding: 2%;
  }
}

.add-note-delete{
  padding-top: 5%;
  padding-bottom: 5%;
}

#add-note {
  padding-top: 5%;
  padding-left: 0;
  font-size: 1.5em;
}

#note {
    font-size: 1.5em;
    margin-top: 35px;
}

#notes-head {
  font-size: 4.5em;
  margin-top: 85px;
}
