<div class="login-register">
  <h3>Login</h3>
  <form class="form" ng-submit="home.login()">
    <div class="form-group">
      <input class="form-control" type="email" name="email" ng-model="home.loginUser.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" ng-model="home.loginUser.password" placeholder="Password">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  <h4>or</h4>
  <h3>Register</h3>
  <form class="form" ng-submit="home.register()">
    <div class="form-group">
      <input class="form-control" type="text" name="username" ng-model="home.registerUser.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="firstName" ng-model="home.registerUser.firstName" placeholder="First name">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="lastName" ng-model="home.registerUser.lastName" placeholder="Last name">
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" ng-model="home.registerUser.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" ng-model="home.registerUser.password" placeholder="Password">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="passwordConfirmation" ng-model="home.registerUser.passwordConfirmation" placeholder="Password confirmation">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>
</div>
